<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{#activePanel}}active{{/activePanel}}" href="/admin/panel">
                    <i class="fas fa-tachometer-alt me-2"></i> Resumen Global
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeUsers}}active{{/activeUsers}}" href="/admin/usuarios">
                    <i class="fas fa-users me-2"></i> Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeOffers}}active{{/activeOffers}}" href="/admin/ofertas">
                    <i class="fas fa-box-open me-2"></i> Ofertas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeDemands}}active{{/activeDemands}}" href="/admin/demandas">
                    <i class="fas fa-bullhorn me-2"></i> Demandas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeAgreements}}active{{/activeAgreements}}" href="/admin/acuerdos">
                    <i class="fas fa-handshake me-2"></i> Acuerdos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeReports}}active{{/activeReports}}" href="/admin/reportes">
                    <i class="fas fa-chart-bar me-2"></i> Reportes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#activeConfig}}active{{/activeConfig}}" href="/admin/configuracion">
                    <i class="fas fa-cogs me-2"></i> Plataforma
                </a>
            </li>
            <li class="nav-item mt-4">
                <form action="/logout" method="POST" class="d-inline w-100">
                    {{#_csrf}}<input type="hidden" name="_csrf" value="{{token}}">{{/_csrf}}
                    <button type="submit" class="nav-link text-danger border-0 bg-transparent text-start w-100">
                        <i class="fas fa-sign-out-alt me-2"></i> Salir
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>